
<% current_user.clients.each do |c| %>
	
	<% @client = c.id %>

	<%= @client %>
	
	<%= form_for @wager do |w| %>

		<%= w.hidden_field :client_id, :value => @client %>
		<%= w.text_field :bet_type, :value => @bet_type %>
		<%= w.text_field :bet_amount, :value => @bet_amount %>
		<%= w.text_field :team_one, :value => @team_one %>
		<%= w.text_field :spread_one, :value => @spread_one %>
		<%= w.text_field :team_two, :value => @team_two %>
		<%= w.text_field :spread_two, :value => @spread_two %>
		<%= w.submit %>

	<% end %>

	<div>

		<input class="submitButton" type="submit" value="Action" >

	</div>

	<script>

		var submitButton = document.getElementsByClassName("submitButton")

		for(i=0; i<submitButton.length; i++){

			submitButton[i].addEventListener("click", function(){
			var submitWager = document.getElementById("new_wager")
			submitWager.submit()

			})
		}


	</script>


<% end %>


<div>

<input id="submitButton" type="submit" value="Action" >

</div>

<%# current_user.clients.each do |c| %>
	
	<%# current_user.clients[c.id].wagers.each do |w| %>

		<%#= w.bet_type %>
		<%#= w.team_one %>
		<%#= w.team_two %>

	<%# end %>


<%# end %>

<% current_user.clients.each do |client| %>

	<div><%= client.first_name %>
		<%= client.last_name %>

	<% client.wagers.each do|w| %>

		<div>
			
			<div><%= w.bet_amount %></div>
			<div><%= w.bet_type %></div>
			<div><%= w.team_one %>
				<%= w.spread_one %></div>
			<div><%= w.team_two %>
				<%= w.spread_two %></div>
		
		</div>


	<% end %>

		

<% end %>
 
 
